:root {
  --app-bg: #121212;
  --text-color: #ffffff;
  --styled-text: #88bc27;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  background: var(--app-bg);
  color: var(--text-color);
  font-size: clamp(.8rem, 2vw, 1rem);
}

.colored-text {
  color: var(--styled-text);
}

.large-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 0.2rem;
}
